n8n/ingestion_workflow.json
{
  "name": "Ingestion + Indexing (Prototype)",
  "nodes": [
    {
      "parameters": {
        "path": "ingest",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "WebhookTrigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/ingest",
        "sendBody": true,
        "bodyParametersUi": {
          "parameter": []
        },
        "options": {}
      },
      "id": "CallLocalAPI",
      "name": "Call Local API (/ingest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Local API (/ingest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Local API (/ingest)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
